<!-- <p>{{'Server'}} with ID {{serverId}} is {{serverStatus}}.</p> -->

<!--Any expression which can be resolved to a string at the end is 
the only condition for string interpolation
Writing Multiline expression is not allowed
Can't do if or for in string interpolation
Could use Terinary operator
Have to get a string at the end
or get something which can be converted to a string-->
<!--Calling function in string interpolation-->
<p [ngStyle]="{backgroundColor:getColor()}"
[ngClass]="{online:serverStatus === 'online'}"
>{{'Server'}} with ID {{serverId}} is {{getServerStatus()}}.</p>
<!-- [] is not part of the directive name(ngStyle)
the directive name is just ngStyle
the square bracket indicate we want to 
bind to some property on this directive
and this property name happens to also be ngStyle
we are binding to a property of the directive
this ngStyle property expect to get JavaScript Object


NOTE: ngClass allows us to dynamically add or remove CSS classes-->