<label>Server Name</label>
<input type="text" class="form-control"(input)="outputServerName($event)">
<p>{{serverName}}</p>

<!-- with two way data binding, we combined property and event binding-->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<!-- This set up will do the following:
 i) It will trigger on the input event and update the value of server name
 in our component automatically
 ii) On the other hand, since it is a two way binding, it will update the value
 of the input element if we change server name somewhere else.
-->
<p>{{serverName}}</p>

<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>

<p>{{allowNewServer}}</p>
<!--Replacing string interpolation with property binding-->
<p [innerText]="allowNewServer"></p>
<hr>

<!--Assignment-2: Practising Data binding-->
<input type="text" class="form-control" [(ngModel)]="username">
<p>{{username}}</p>

<button type="button" class="btn btn-danger" 
[disabled]="username === ''"
(click)="onClickAction()"
>Empty</button>
<br>
<!--Assignment 3:Practicing Directive -->

<button type="button" class="btn btn-warning space" (click) = "toggleDisplay()"
>Display Details</button>
<p *ngIf="isClicked">A little secret to share in details</p>

<div *ngFor="let arr of logArray; let i = index" 
[ngStyle]="{backgroundColor:elementColor(i)}"
[ngClass]="{textColor: i >= 4}">
  {{arr}}
</div>


<!-- <p>{{allowNewServer}}</p> -->
<!--Using property Binding-->
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<!-- *ngIf started with * as it is structural directive
 which means it changes the structure of our DOM
It either adds this element or it does not-->
<p *ngIf="serverCreated; else noServer">Server was created, and server name is: {{serverName}}</p>

<!-- Enhancing ngIf with else condition. (#) is a marker(can use any name after) -->
<ng-template #noServer>
 <p>No server was created!</p>
</ng-template>
<app-server *ngFor="let server of servers">

</app-server>

<!-- ngIf is structural directive and other directives are 
attribute directives, they do not or remove elements
They only change the element they were placed on
They normally look like HTML attribute(Without *) -->
